.client{
    margin-left: 10.3125em;
    margin-right: 2.7%;
    margin-bottom: 12.6875em;
}
.client_title{
    color: #333333;
    font-weight: 500;
    font-size: 2.25em;
    line-height: 1.5em;
    margin-bottom: 1.2em;
    width: 60%;
    font-family: 'Poppins';
    font-style: normal;
}
.client_img{
    display: flex;
    align-items: center;
}
.client_profile-img{
    border-radius: 12px;
    margin-right: 1.5em;
    width: 7%;
}
.client_name{
    font-family: 'Poppins';
    font-style: normal;
    color: #333333;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 2.25em;
}
.client_about{
    font-family: 'Poppins';
    font-style: normal;
    color: #828282;
    font-size: 1.125em;
}
@media screen and (max-width: 1024px) {
    .client{
        margin-left: 6.2em;
        margin-right: 2.7%;
    }
    .client_title{
        width: 95%;
    }
    .client_profile-img{
        width: 10%;
    }
}

@media screen and (max-width: 768px) {
    .client{
        margin-left: 3.0625em;
    }
    .client_profile-img{
        width: 15%;
    }
}

@media screen and (max-width: 425px) {
    .client{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .client_img{
        margin-left: 3%;
    }
    .client_title{
        font-size: 1.5em;
    }
    .client_name{
        font-size: 1.5em;
    }
    .client_about{
        font-size: 1.125em;
    }
    .client_profile-img{
        width: 20%;
    }
}
