.designs{
    margin-left: 10.3125em;
    margin-right: 2.7%;
    margin-bottom: 13.6875em;
}
.design_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.design_item{
    width: 45%;
}
.more{
    margin-top: 11.75em;
}
.design_img{
    border-radius: 12px;
    margin-bottom: 1.25em;
    max-width: 534px;
    width: 100%;
}
.design_txt{
    font-family: 'Poppins';
    font-style: normal;
    color: #828282;
    font-weight: 300;
    font-size: 0.875em;
    line-height: 1.3125em;
}
.design_txt-title{
    font-family: 'Poppins';
    font-style: normal;
    color: #333333;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 2.25em;
}
.see{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 13em;
    margin-top: 10em;
}
.see:hover{
    cursor: pointer;
}
.design_more{
    color: rgb(0, 47, 255);
    font-weight: 500;
    font-size: 1.5em;
    margin-right: 0.5em;
}
.blue-arrow{
    color: rgb(0, 47, 255);
}
p{
    margin-bottom: 0px;
    margin-top: 0px;
}

@media screen and (max-width: 1024px) {
    .designs{
        margin-left: 6.2em;
    }
    .design_items{
        justify-content: space-between;
    }
    .design_item{
        width: 50%;
    }
    .design_img{
        width: 95%;
    }
    .see{
        margin-right: 0.5em;
    }
}

@media screen and (max-width: 768px) {
    .designs{
        margin-left: 2.8125em;
    }
    .design_items{
        justify-content: space-between;
    }
    .design_item{
        width: 50%;
    }
    .design_img{
        width: 95%;
    }
}

@media screen and (max-width: 425px) {
    .designs{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 6.25em;
        width: 100%;
    }
    .design_items{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .more{
        margin-top: 0;
    }
    .design_item{
        width: 90%;
        margin-bottom: 2.25em;
    }
    .design_img{
        width: 100%;
    }
    .design_txt{
        font-size: 0.75em;
    }
    .design_txt-title{
        font-size: 1.6875em;
    }
    .see{
        justify-content: start;
        margin-top: 2.1875em;
    }
    .design_more{
        font-size: 1.125em;
    }
}