header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2.7%;
    margin-right: 2.7%;
    margin-top: 3.1%;
    margin-bottom: 2em;
}
a{
    color: inherit;
    text-decoration: none;
}
.menu{
    display: none !important;
}
.logo{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
    color: #333333;
}
.links{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
.link{
    margin-right: 2em;
    scroll-behavior: smooth;
}
.link:last-child{
    margin-right: 0;
}
.link:hover{
    color: blue;
}
.dropdown_content{
    display: none;
    justify-content: flex-end;
    margin-right: 1em;
    width: 100%;
}
@media (max-width: 900px) {
    .links{
        display: none;
    }
    .menu{
        display: block;
        align-items: baseline;
        font-size: 2em;
    }
    .dropdown_involve{
        display: flex;
        justify-content: center;
        position: absolute;
        right: 0px;
        top: 5%;
        width: 60%;
    }
    .dropdown{
        box-shadow: 0 0 10px var(--dark-gray);;
        display: flex;
        width: 60%;
        flex-direction: column;
        margin-top: 5%;
        font-size: 1em;
        align-items: center;
        background: var(--black);
    }
    .link{
        font-weight: 500;
        font-style: bold;
        margin-right: 0;
        color: var(--white);
        align-items: center;
        padding-top: 2em;
    }
    .link:last-child{
        margin-bottom: 2em;
    }
    .link:hover{
        color: var(--white);
    }
}