.home{
    margin-left: 17em;
    margin-right: 38em;
    width: 40%;
}
.home_question{
    color: #2D9CDB;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    font-family: 'Poppins';
}
.title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #333333;
}
.home_img{
    position: absolute;
    margin-left: 2.7%;
    margin-right: 2.7%;
    width: 94.6%;
    border-radius: 18px;
    margin-bottom: 2.625em; 
    margin-top: 2.625em;
}