.services{
    margin-left: 10.3125em;
    margin-right: 2.7%;
    margin-bottom: 12.125em;
}
.cards{
    margin: 2em;
    display: flex;
}
.card{
    padding: 16px;
    font-family: 'Poppins';
    font-style: normal;
    border-radius: 24px;
    padding: 2.875em 2.125em 2.875em 2.125em;
}
.card:hover{
    background:  0 4px 8px 0 rgba(255, 255, 255, 0.2) ;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.644);
}
.card_title_txt{
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
.card_txt{
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #4F4F4F;
    margin-bottom: 1.5em;
    width: 90%;
}
.column {
    float: left;
    width: 50%;
    padding: 0 10px;
}
.services_btn{
    font-style: normal;
    font-size: 1.125em;
    width: 146px;
    height: 49px;
    color:#828282;
    background:  #E0E0E0;;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    padding: 0.6em 1.3em;
    text-align: center;
}
.services_btn:hover{
    background-color: #2D9CDB;
    color:#E0E0E0;
}
.icon{
    color: white;
    border-radius: 16px;
    padding: 0.7em;
    margin-bottom: 1.5em;
}
.blue{
    background:#2D9CDB;
}
.red{
    background:#EB5757;
}
.green{
    background:#27AE60;;
}
@media screen and (max-width: 1024px) {
    .services{
        margin-left: 6.2em;
    }
}

@media screen and (max-width: 768px) {
    .services{
        margin-left: 3.0625em;
    }
}

@media screen and (max-width: 425px) {
    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        width: 100%;
        margin-bottom: 9.125em;
    }
    .cards{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        width: 70%;
    }
    .card{
        margin-left: 0;
        padding: 1em;
    }
    .card_title_txt{
        font-size: 1.5em;
    }
    .card_txt{
        font-size: 0.9em;
    }
}
